.topBrandsIconContainer {
    /* position: relative; */
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 70px;
}

.iconsContainer {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 75%;
}

.iconsContainer img {
    width: 100px;
}